#Name {
    color:white;
    font-size: 400%;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
#Famq {
    color:blue;
    font-size: 400%;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
#SecName {
    color:red;
    font-size: 400%;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
h1 {
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
h2 {
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
h3 {
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
h4 {
    color:white;
    font-size: 40%;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
h5 {
    color:white;
    font-size: 40%;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
h6 {
    color:white;
    font-size: 40%;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

#id11 {
    color:green;
    font-size: 40%;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
#id1 {
    color:white;
    font-size: 140%;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
#id2 {
    color:blue;
    font-size: 140%;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
#id3 {
    color:red;
    font-size: 140%;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
#id4 {
    color:darkblue;
    font-size: 140%;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
#id5 {
    color:salmon;
    font-size: 140%;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
#id6 {
    color:snow;
    font-size: 140%;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
#id7 {
    color:steelblue;
    font-size: 140%;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
#id8 {
    color:olivedrab;
    font-size: 140%;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
#id9 {
    color:yellow;
    font-size: 140%;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
#id10 {
    color:green;
    font-size: 140%;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
#Name9 {
    color:white;
    font-size: 400%;    
    font-family:'Tahoma',sans-serif;
    text-align: center;
}
#Book {
    color:white;
    font-size: 400%;    
    font-family:'Tahoma',sans-serif;
    text-align: center;
}
#nums {
    color:white;
    font-size: 40%;    
    font-family:'Tahoma',sans-serif;
}
#names1 {
    color:white;
    font-size: 40%;    
    font-family:'Tahoma',sans-serif;
}